business_layer/bin/Debug/net5.0/business_layer.dll
business_layer/bin/Debug/net5.0/business_layer.pdb
business_layer/obj/Debug/net5.0/business_layer.csproj.AssemblyReference.cache
business_layer/obj/Debug/net5.0/business_layer.dll
business_layer/obj/Debug/net5.0/business_layer.pdb
business_layer/obj/Debug/net5.0/ref/business_layer.dll
business_layer/obj/Debug/net5.0/refint/business_layer.dll
security_layer/bin/Debug/net5.0/business_layer.dll
security_layer/bin/Debug/net5.0/business_layer.pdb
security_layer/bin/Debug/net5.0/security_layer.dll
security_layer/bin/Debug/net5.0/security_layer.pdb
security_layer/obj/Debug/net5.0/security_layer.csproj.AssemblyReference.cache
security_layer/obj/Debug/net5.0/security_layer.dll
security_layer/obj/Debug/net5.0/security_layer.pdb
webapi_services/bin/Debug/net5.0/business_layer.dll
webapi_services/bin/Debug/net5.0/business_layer.pdb
webapi_services/bin/Debug/net5.0/security_layer.dll
webapi_services/bin/Debug/net5.0/security_layer.pdb
webapi_services/bin/Debug/net5.0/webapi_services.dll
webapi_services/bin/Debug/net5.0/webapi_services.pdb
webapi_services/obj/Debug/net5.0/webapi_services.csproj.AssemblyReference.cache
webapi_services/obj/Debug/net5.0/webapi_services.dll
webapi_services/obj/Debug/net5.0/webapi_services.pdb
webapi_services/obj/Debug/net5.0/ref/webapi_services.dll
webapi_services/obj/Debug/net5.0/refint/webapi_services.dll
webapi_services/Properties/launchSettings.json
